[submodule "vendor/bitsery"]
	path = vendor/bitsery
	url = https://github.com/fraillt/bitsery
[submodule "vendor/asio"]
	path = vendor/asio
	url = https://github.com/chriskohlhoff/asio
	branch = asio-1-24-0
